<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Memory Game</title>
  
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main-16px.css'}">
       
  <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}"
    type="text/javascript" charset="utf-8"></script>  
  
  <script src="@{'/public/javascripts/memory-0.1.js'}"
    type="text/javascript" charset="utf-8"></script>


  <script type="text/javascript">
  
  	
  	function toggleDialog() {
        
  	  	var thanks  = $("#thanks");
  	  	if (thanks.is(":visible")) {
  	  	  thanks.hide();
  	  	} else {
  	  	  thanks.show();
  	  	}
  	  	
  	}
  
    $(document).ready( function() {
      sortIt.load(${setId});
      
      var url = window.location.href;
      
      $("#thanks-inner").click( function() {
        window.location.replace(url+"?"+new Date().getTime())
        toggleDialog();
      });
      
      $("button").click( function() {        
        if (sortIt.done()) {
          toggleDialog();
        }
      })
    });
  </script>

</head>
<body>

<div id="wrapper">
  <header>
    <h1>SortIt</h1>
    <h3>Train your Memory</h3>
    <p>Have a look at the faces and answer: Older?</p>  
  </header>
  
  <div id="thanks">
    <div id="thanks-inner">
        Thank you very much for playing.<br/>
        You can now see the <a href="@{DataSets.elements(setName)}">result</a> of your and others work<br/>
        Of course you can just keep playing. The more the better ;-)<br/>
        Maybe you want to invite other people for playing..
     </div>
  </div>
  
  <div id="content">
    
    <div id="image-outer">
      <!-- loaded by js -->
      <img id="image"></img>
    </div>
    
    
    <div id="button-outer">
        <button id="yes" onclick="sortIt.yes();">Yes</button>
        <button id="no" onclick="sortIt.no();">No</button>
        <button id="skip" onclick="sortIt.next();">Skip</button>
    </div>
   
  
  </div>
  <footer>
    <div class="footer-inner">
      <span class="small">
       Social Computing Project. Rashmi Bakshi, Cédric Reginster. 2011. 
      </span> 
    </div>
  </footer>
</div>



</body>
</html>