<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Memory</title>
  <meta property="og:title" content="SortIT - Memory" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="http://apps.facebook.com/sortit_" />
  <meta property="og:site_url" content="http://apps.facebook.com/sortit_" />
  <meta property="og:site_name" content="SortIT" />
  <meta property="fb:admins" content="702185546" />
  
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main-16px.css'}">
       
  <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}"
    type="text/javascript" charset="utf-8"></script>  
  
  <script src="@{'/public/javascripts/memory-0.1.js'}"
    type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">
    $(document).ready( function() {
      var votesNeeded = 10;
      $('#countdown').html(votesNeeded);
      
      sortIt.start(${setId}, function () {
        /*callback for progress*/
        
        $('#countdown').html(votesNeeded-this.progress());
        
        if (this.progress() >= votesNeeded) {
          $('#thanks').show();
        }
        
      });
      
      $("#thanks").click( function() {
        sortIt.resume();
        $(this).hide();
      });
      
    });
  </script>

</head>
<body>

<div id="wrapper">
  <header>
    <h1>SortIt</h1>
    <h3>Train your Memory</h3>
    <p>Have a look at the faces and choose from below..</p>
    <h2 id="countdown"></h2>  
  </header>
  
  <div id="thanks">
    <div id="thanks-inner">
        Thank you very much for playing.<br/>
        You can now see the resulting Ordering.<br/>
        Of course you can just keep playing.<br/> 
        The more the better ;-)<br/>
        Maybe you want to share. would be very nice..
        <br/>
        <a target="_blank" href="@{DataSets.elements(setName)}">See all the Photos</a>
        <br/>
        <div class="fb-like" data-send="false"
          style="display:block" 
          data-width="" data-show-faces="true" 
          data-font="trebuchet ms"></div>
     </div>
  </div>
  
  <div id="content">
    
    <div id="image-outer">
      <!-- loaded by js -->
      <img id="image"></img>
    </div>
    
    <div id="button-outer">
        <button id="yes" onclick="sortIt.yes();">Older</button>
        <button id="no" onclick="sortIt.no();">Younger</button>
        <button id="skip" onclick="sortIt.next();">I don't know</button>
    </div>
  
  </div>
  <footer>
    <div class="footer-inner">
      <span class="small">
       Social Computing Project. Rashmi Bakshi, Cédric Reginster. 2011. 
      </span> 
    </div>
  </footer>
</div>

#{include 'fb-js-sdk.html'/}

</body>
</html>